.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: "#"} Some Store
      .nav-collapse
        %ul.nav
          %li= link_to "Graves",graves_path
          %li= link_to "Price List"
          %li= link_to "Contact Us"
          %li= link_to "Cart"
